* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: serif;
}

#sfondo_titolo {
    background-color: rgb(82, 147, 237);
    background-image: url("../img/pattern.png");
    background-repeat: repeat;
    margin-bottom: 20px;
}

#logo {
    width: 250px;
    margin: 50px 20px;
}

#corpo_pagina {
    margin: 15px;
}

#autore {
    color: skyblue;
}

.tim {
    margin-top: 20px;
}

#primo_paragrafo {
    line-height: 5;
}

.evidenziato {
    background-color: yellow;

}

.tabella {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    background-color: blue;
    border-collapse: collapse;
}

.w25 {
    width: 25%;
    color: white;
}

.w50 {
    width: 50%;
    color: white;
    margin: 0;
}

.riga {
    background-color: aqua;

}

.prima_riga {
    background-color: white;
}

#info_utili {
    color: gray;
    line-height: 5;
}

footer {
    margin: 15px;
}

.background_photo_1 {
    background-image: url(../img/monitor.jpg);
    width: 312px;
    height: 208px;
    color: white;
    padding: 30px;
    font-size: 20px;
}

.background_photo_2 {
    background-image: url(../img/graph.jpg);
    width: 312px;
    height: 208px;
    color: white;
    padding: 30px;
    font-size: 20px;
}